@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #66CDAA;
    --cor-da-escrita: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
    display: grid;
    justify-items: center;
}

.texto1 {
    margin-bottom: 20px;
    line-height: 1.6;
}

.texto2 {
    margin-bottom: 20px;
    line-height: 1.6;
}

.texto3 {
    margin-bottom: 20px;
    line-height: 1.6;
}

.texto4 {
    margin-bottom: 20px;
    line-height: 1.6;
}

.texto5 {
    margin-bottom: 20px;
    line-height: 1.6;
}