:root {
    --cor-de-fundo: #40E0D0;
    --cor-da-escrita: #ffffff;
    --cor-header: #40E0D0;
    --cor-botões: #40E0D0;
    --barra-de-pesquisa: #40E0D0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-header);
    color: var(--cor-da-escrita);
    display: grid;
    position: relative;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-right: 500px;
    background-color: #f2f2f2;
    padding: 2px;
    border-radius: 5px;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
}

.button {
    background-color: var(--cor-botões);
    color: var(--cor-da-escrita);
    height: 50px;
    padding: 15px 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}


.search button:passar o mouse {
    background-color: #8a8e8d;
}

.agrinho {
    display: flex;
    background-color: var(--cor-fundp-imagem);
    align-content: center;
    justify-content: space-between;
}

.diminuir {
    width: 20%;
}

.pesquisa {
    background-color: var(--barra-de-pesquisa);
    text-align: center;
    padding: 60px 0 20px;
    display: flex;
    flex-direction: column;
}

#texto {
    color: #777777;
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #0056b3;
margin-left: 10px ;
}
.tit{
    margin-left: 10px;
}
.aba:checked ~ .lista{
    display: block;
}

#menu{
    display: none;
}
ul li{
    list-style: none;
}
li a{
color: rgb(0, 0, 0);
text-decoration: none;
}

.lista-item{
    padding: 12px 0;
}
@media screen and (min-width: 1728px) {
    .foto-corpo {
        width: 30%;
        padding: 0 20px;

    }
}

.roda-pé {
    display: flex;
}