:root {
    --cor-de-fundo: #676767;
    --cor-da-escrita: #000000;
    --cor-header: #a4a4a4bd;
    --cor-botões: #e8e8e8eb;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-header);
    color: var(--cor-da-escrita);
    display: grid;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
}

.button {
    background-color: var(--cor-botões);
    color: var(--cor-botões);
    width: 15px;
    display: flex;
}



@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}