@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #66CDAA;
    --cor-da-escrita: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
    display: grid;
    justify-items: center;
}

.nomes {
    margin-top: 20px;
    /* Espaçamento acima do conteúdo */
    margin-bottom: 20px;
    /* Espaçamento abaixo do conteúdo */
}

.funciona {
    margin-top: 20px;
    /* Espaçamento acima do conteúdo */
    margin-bottom: 20px;
    /* Espaçamento abaixo do conteúdo */
}

.materiais {
    display: block;
    /* Utiliza flexbox para alinhar os itens */
    align-items: center;
    /* Alinha verticalmente os itens */
    margin-top: 20px;
    /* Espaçamento acima do conteúdo */
    margin-bottom: 20px;
    /* Espaçamento abaixo do conteúdo */
    padding: 20px;
    /* Adiciona um espaçamento ao redor de cada imagem */
}

.diminuir {
    width: 20%;
}

.diminuir2 {
    width: 20%;
}

.diminuir3 {
    width: 20%;
}

.diminuir4 {
    width: 20%;
}

.texto1 {
    margin-bottom: 20px; 
    line-height: 1.6;
}

.texto2 {
    margin-bottom: 20px; 
    line-height: 1.6;
}

.texto3 {
    margin-bottom: 20px; 
    line-height: 1.6;
}

.texto4 {
    margin-bottom: 20px; 
    line-height: 1.6;
}

.prototipo {
    margin-bottom: 20px; 
    line-height: 1.6;
}

.roda-pé {
    display: grid;
    justify-items: center;
    background-color: #008688;
}

.codigo {
    padding-left: 20px;
}