:root {
    --cor-de-fundo: #676767;
    --cor-da-escrita: #ffffff;
    --cor-header: #676767;
    --cor-botões: #676767;
    --barra-de-pesquisa: #676767;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-header);
    color: var(--cor-da-escrita);
    display: grid;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-right: 500px;
    background-color: #f2f2f2;
    padding: 2px;
    border-radius: 5px;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-escrita);
}

.button {
    background-color: var(--cor-botões);
    color: var(--cor-da-escrita);
    height: 50px;
    padding: 15px 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}


.search button:passar o mouse {
    background-color: #0056b3;
}

.agrinho {
    display: flex;
    background-color: var(--cor-fundp-imagem);
    align-content: center;
    justify-content: space-between;
}

.diminuir {
    width: 20%;
}

.pesquisa {
    background-color: var(--barra-de-pesquisa);
    text-align: center;
    padding: 60px 0 20px;
    display: flex;
    flex-direction: column;
}

#texto {
    color: #777777;
}

@media screen and (min-width: 1728px) {
    .foto-corpo {
        width: 30%;
        padding: 0 20px;

    }

}